.THIS.gg {
    background-color:#c5d5e2;
}
.THIS.slds-col{
    
    width:200px;
}
.THIS.options{
    
    width:200px;
}

.THIS .bb{
       background:#F7F7F7;
    width:200px;
}
.THIS .slds-table{
       border-top: hidden;
       border-bottom: hidden;
}
.THIS.apex {
display: none;}